*{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin:0;

}




.calc{
    color:white;
    background-color:black;
    width: 400px;
}

.screen{
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    text-align:right;
    padding: 20px 5px;

}

.calc-button{
    background-color:gainsboro;
    color:black;
    width: 24.5%;
    border:none;
    height:100px;
    border-radius:0;
    font-size: 40px;
    cursor: pointer;
}

.calc-button:hover{
    background-color: whitesmoke;
}

.calc-button:active{
    background-color:darkgray;
}

.calc-button:last-child{
    background-color: #df974c;
    color:white
}

.calc-button:last-child:hover{
    background-color:#dfb07e;
}

.calc-button:last-child:active{
    background-color: #dd8d37;
}

.C-button{
    width:49.7%;
    border:none;
    height:100px;
    border-radius: 0;
    font-size:40px;
    cursor:pointer;
    background-color: gainsboro;
    color:black;

}

.C-button:hover{
    background-color: whitesmoke;
}

.C-button:active{
    background-color:darkgray;

}

.button-0{
    width:74.8%;
    border:none;
    height:100px;
    border-radius: 0;
    font-size:40px;
    cursor:pointer;
    background-color: gainsboro;
    color:black;
    
}

.button-0:hover{
    background-color: whitesmoke;
}

.button-0:active{
    background-color:darkgray;

}






.row{
    display:flex;
    align-content:stretch;
    margin-bottom: 0.5%;
    justify-content:space-between;
}


     
    
    


         




     
  